/*PRINCIPAIS*/
body{
	background-color: rgb(123, 158, 135);
	margin: 0%;
}


/*TEXTOS*/
h1{
    color: rgb(210, 208, 186);
    text-shadow: 2px 1px 1px rgb(94, 116, 127);
    font-size: 50px;
    text-indent: 30px;
    font-family: Kanit, sans-serif;
}
h2{
	color: rgb(210, 208, 186);
	text-align: center;
	font-size: 22px;
	font-family: Roboto, sans-serif;
}
p{
	color: rgb(210, 208, 186);
	font-family: Roboto, sans-serif;
	text-indent: 4%;
	font-weight: bold;
}
ul{
	color: rgb(210, 208, 186);
	font-family: Roboto, sans-serif;
}
.letraA{
	color: rgb(210, 208, 186);
	text-shadow: 3px 3px 3px rgb(123, 158, 135);
	font-family: Bebas Neue, sans-serif;
	font-size: 50px;
	text-indent: 30px;
}


/*IMAGENS*/
.postagens{
	opacity: 100%;
	border: 2px solid;
	border-radius: 0px;
	border-color: rgb(123, 158, 135);
	transition: all, .3s ease-out;
}

.postagens:hover{
	background-color: rgb(0, 0, 0);
	opacity: 70%;
	border-color: rgb(210, 208, 186);
}


/*DIVS*/
.box{
	width: 500px;
	display: inline-block;
	text-align: center;
}

.imagens{
	display: inline-block;
}

.grow{
	size: 1;
	transition: all, .3s ease-out;
}

.grow:hover{
	-webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.instabox{
	color: rgb(182, 190, 156);
	background-color: rgb(94, 116, 127);
	opacity: 0.8s;
	height: 300px;
	width: 30%;
	display: block;
	padding: 10px 20px 10px 20px;
	margin: 30px;
	margin-block-start: 50px;
	display: inline-block;
}

.temasbox{
	color: rgb(182, 190, 156);
	background-color: rgb(94, 116, 127);
	opacity: 0.8s;
	height: 300px;
	width: 50%;
	display: block;
	padding: 10px 20px 10px 20px;
	margin: 30px;
	margin-block-start: 50px;
	display: inline-block;
}
	
.postagensbox{	
	color: rgb(94, 116, 127);
	background-color: rgb(94, 116, 127);
	opacity: 0.8s;
	height: 300px;
	width: 50%;
	display: block;
	padding: 10px 20px 10px 20px;
	margin: 30px;
	margin-block-start: 50px;
	display: inline-block;
	text-align: center;
	border: 2px solid;
	border-radius: 0px;
	border-color: rgb(210, 208, 186);
}

.playlistbox{
	color: rgb(182, 190, 156);
	background-color: rgb(94, 116, 127);
	opacity: 0.8s;
	height: 900px;
	width: 90%;
	display: block;
	padding: 10px 20px 10px 20px;
	margin: 30px;
	margin-block-start: 50px;
	display: inline-block;
}


/*HOME PAGE*/
.homepage{
	border:  5px solid;
	border-radius: 3px;
	width: 60vw;
	height: 45vh;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 7%;
	border-color: rgb(182, 190, 156);
	background-image: url(space.jpg);
}


/*HEADER*/
.cabeca{
	overflow: hidden;
	background-color:rgb(94, 116, 127);
	position: fixed;
	display: flex;
	top: 0;
	width: 100%;
	text-transform: capitalize;
	text-align: center;
}
.cabeca a{
	float: left;
	display: block;
	color: rgb(123, 158, 135);
    text-shadow: 1px 1px 1px rgb(210, 208, 186);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: all, 0.3s;
}
.cabeca:hover{
	background:rgb(182, 190, 156);
	color:rgb(94, 116, 127);
}
.baixo{
	overflow: hidden;
	background-color:rgb(210, 208, 186);
	position: fixed;
	display: flex;
	bottom: 0;
	width: 100%;
	text-transform: capitalize;
	text-align: center;
}
.letracabeca{
	font-family: Bebas Neue, sans-serif;
    color: rgb(210, 208, 186);
	font-size: 25px;
}
.letracabeca:hover{
	font-family: Bebas Neue, sans-serif;
    font-size: 25px;
	color: rgb(210, 208, 186);
	background-color: rgb(123, 158, 135);
	transition: all, 0.2s;
}


/*IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');